* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.clear {
  clear: both;
}

body {
  background-color: #021823;
  font-family: 'Nixie One', Helvetica, Arial, sans-serif;
}

.sudoku-page {
  .sudoku-page__h1 {
    text-align: center;
    color: white;
    margin: 30px 0 20px;
    font-size: 50px;
    letter-spacing: 4px;
  }

  .sudoku-page__board-wrapper {
    background-color: #32464f;
    padding: 10px;
  }

  .sudoku-page__board {
    margin: 10px auto;
    border: 4px solid #000;
    border-width: 4px 3px 3px 4px;
    width: 450px;
  }

  .sudoku-page__error-area,
  .sudoku-page__success-area {
    margin: 20px 0;
    text-align: center;
    color: #f75459;
    font-size: 30px;
    display: none;
  }
  .sudoku-page__error-area {
    color: #f75459;
  }
  .sudoku-page__success-area {
    color: #fcbe2c;
  }
  .sudoku-page__icon {
    margin: 0 15px;
    font-size: 15px;
    vertical-align: middle;
  }
}

.sudoku-cell {
  height: 49px;
  width: 49px;
  float: left;
  border: 1px solid black;
  border-width: 0 1px 1px 0;
  position: relative;

  &.m-region-0 { background-color: #ee8888; }
  &.m-region-1 { background-color: #eeaa88; }
  &.m-region-2 { background-color: #eeee88; }
  &.m-region-3 { background-color: #88ee88; }
  &.m-region-4 { background-color: #88eeee; }
  &.m-region-5 { background-color: #88aaee; }
  &.m-region-6 { background-color: #ee88ee; }
  &.m-region-7 { background-color: #aa88ee; }
  &.m-region-8 { background-color: #ee88aa; }

  .sudoku-cell__input {
    width: 100%;
    height: 100%;
    outline: 0;
    background: none;
    border: 0;
    text-align: center;
    font-size: 30px;
    color: #222;
    font-weight: bold;

    &:focus {
      background-color: rgba(0, 0, 0, .1);
    }
    &.m-has-error {
      color: #f75459;
    }
  }
  .sudoku-cell__initial-value {
    text-align: center;
    color: #eee;
    font-size: 20px;
    font-size: 30px;
    line-height: 48px;
    font-weight: bold;
    text-shadow: #000 0px 0px 2px;
  }

  .sudoku-cell__right-divider,
  .sudoku-cell__bottom-divider {
    position: absolute;
    background-color: black;
    z-index: 1;
  }
  .sudoku-cell__right-divider {
    width: 3px;
    top: -2px;
    bottom: -2px;
    right: -2px;
  }
  .sudoku-cell__bottom-divider {
    height: 3px;
    left: -2px;
    right: -2px;
    bottom: -2px;
  }
}
